{% extends 'base.html.twig' %}

{% block title %}Report blockee{% endblock %}

{% block body %}
<div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
    <div class="card-body">
    <h1>I have blocked someone</h1>

    {{ include('blocker/_form.html.twig') }}
    </div></div>
{% endblock %}
