{% extends 'base.html.twig' %}

{% block title %}My cars{% endblock %}

{% block body %}
<div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
    <div class="card-body">
    <h1>My cars</h1>

    <table class="table table-light table-hover">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>License Plate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for license_plate in license_plates %}
            <tr>
                <td>{{ license_plate.id }}</td>
                <td>{{ license_plate.licensePlate }}</td>
                <td>
                    <a class="btn btn-outline-success mx-2" href="{{ path('license_plate_show', {'id': license_plate.id}) }}">Show</a>
                    <a class="btn btn-outline-primary mx-2" href="{{ path('license_plate_edit', {'id': license_plate.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/license/plate/new'" type="button" class="btn btn-outline-primary">Add car!</button>
    </div></div>
{% endblock %}
