{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
<div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
    <div class="card-body">
    <h1>Add a new car</h1>

    {{ include('license_plate/_form.html.twig') }}
    </div></div>
{% endblock %}
