{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}! ✅</h1>

    Thank you for choosing our app for the encountered parking inconveniences!
    <br>
    My cars: <button onclick="location.href='/license/plate'" type="button">Access</button>
    <div>
        <button onclick="location.href='blockee'" type="button">Someone blocked me</button>
    </div>
    <div>
        <button onclick="location.href='blocker'" type="button">I have blocked someone</button>
    </div>
    <div>
        <button onclick="location.href='password'" type="button">Change password</button>
    </div>
</div>
{% endblock %}
