{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="">
        <div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
            <div class="card-body">
                <h2 class="text-center">🚗 Welcome to the app! 🚗</h2>
                <p class="text-primary">
                    Thank you for choosing our app for the encountered parking inconveniences!
                </p>
                <div>
                    Here is a brief introduction to what our application has to offer:
                    <ul class="" style="list-style-type: none">
                        <li class="my-1"><b class="text-primary">Report blocker</b> ~ here you
                            can report someone who has blocked one of your vehicles
                        </li>
                        <li class="my-1"><b class="text-primary">Report blockee</b> ~ when you
                            have blocked someone and want to let them know, this is the go-to option
                        </li>
                        <li class="my-1"><b class="text-primary">My cars</b> ~ the list of the
                            cars associated to the current account are found here
                        </li>
                        <li class="my-1"><b class="text-primary">Change password</b> ~ your
                            password can be changed an unlimited number of times here
                        </li>
                        <li class="my-1"><b class="text-primary">Log out</b> ~ it is what its
                            name stands for
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
