{% extends 'base.html.twig' %}

{% block title %}Report blocker{% endblock %}

{% block body %}
<div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
    <div class="card-body">
    <h1>Someone blocked me</h1>

    {{ include('blockee/_form.html.twig') }}
    </div>
</div>
{% endblock %}
