{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Someone blocked me</h1>

    {{ include('blockee/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
