{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ include('password/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
