{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block body %}
<div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
    <div class="card-body">
    <h1>Sign up</h1>

    {{ include('user/_form.html.twig') }}
        <br>
        <i><p class="text-primary font-weight-light fs-6">*You will receive an email with a randomly generated password. The password can be changed.</p></i>
    </div></div>
{% endblock %}
